# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local Environment variables
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
